#logo {
    margin-top: 109px;
    width: 100%;
    text-align: center;
}


* {
    margin-right: 0;
    margin-left: 0;
}


a {
    color: black;
    text-decoration: none;
}

ul {
    direction: rtl;
}

li {
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
}

footer {
    background-color: #eee;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

body footer div.RightLinks,
body footer div.RightLinks button {
    padding: 8px 15px;
    float: right;
}

body footer div button {
    color: #777;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    border: none;
}

body footer div button:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

body footer div.LeftLinks,
body footer div.LeftLinks button {
    padding: 8px 15px;
    float: left;
}

.clearfix {
    clear: both;
}

input[type=text] {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    text-align: center;
    margin-right: -6px;
}

input[type=text]:focus {
    border: none;
}

span.search-box {
    margin-top: 300px;
    padding: 10px 0px;
    border-radius: 20px;
    border: 1px solid #bbb;
}

span.search-box:hover {
    box-shadow: 3px 3px 5px #777;
    box-shadow: -.5px -.5px 5px #777;
}

button[type=submit] {
    padding: 10px;
    background-color: white;
    border-radius: 0 20px 20px 0;
    border: none;
    margin-left: 0;
}

button[type=submit]:hover {
    cursor: pointer;
}

form[action='https://www.google.com/imghp']:focus {
    border: none;
}

form[action='https://www.google.com/imghp'] {
    text-align: center;
}

.h-icon:hover {
    border: none;
    border-radius: 20px;
    background-color: #eee;
    padding: 10px;
}

img {
    width: 272px;
    height: 92px;
}
